NODE_ENV=development

BACK_PORT=3000

GATEWAY_BASE_URL=https://api.branchpay.com.br/api

JWT_SECRET=
JWT_EXPIRES_IN=1h

CRYPTO_SECRET=

MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

MYSQL_PORT=3306
